@model MySecondTryForum.ViewModels.Topics.OpenTopicViewModel
@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center bg-success text-white">Open Topic</h1>
<hr class="" style="height:2px" />

<form class="" id="topicHeader" action="/Topics/Create" method="post">
    <div class="form-group">
        <h3>What are you going to discuss</h3>
    </div>
    <button type="submit" class="btn bg-secondary text-white">Open</button>
</form>

<textarea asp-for="Header" form="topicHeader" rows="4" cols="50" class="" placeholder="What are you going to discuss..." ></textarea>
<span asp-validation-for="Header"></span>


