@model  string
@{
    ViewData["Title"] = "ErrorView";
}

    <div class="alert-danger bg-danger">
        <h1 class="bg-danger text-white">@Model</h1>
    </div>
    <a href="/Topics/Create">Back</a>

