
@{
    ViewData["Title"] = "Index";
}

    <ul>
        <li><a href="/Administration/Categories/AllCategories">Categories</a></li>
        <li><a href="/Administration/Information/AllInformation">Information</a></li>
    </ul>

