
@{
    ViewData["Title"] = "Index";
}
    <div class="text-center">
        <h1>AdministrationMenu</h1>
    </div>

    <ul class="list-group">
        <li class="list-group-item list-group-item-action" ><a class="list-group-item list-group-item-action" href="/Administration/Categories/AllCategories">Categories menu</a></li>
        <li class="list-group-item list-group-item-action" ><a class="list-group-item list-group-item-action" href="/Administration/Information/AllInformation">Information menu</a></li>
        <li class="list-group-item list-group-item-action" ><a class="list-group-item list-group-item-action" href="/Administration/Products/ProductsMenu">Products menu</a></li>
    </ul>

