@model HealthyEnvironment.ViewModels.Products.ProductListViewModel
@{
    ViewData["Title"] = "ProductsInCategory";
}

<h2>ProductsHome</h2>

<body>
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <!-- /.col-lg-3 -->
            <div class="col-md-9">
                <div class="row">
                    @foreach (var product in Model.Products)
                    {

                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href=@product.ImageUrl target="_blank"><img class="card-img-top" src="@product.ImageUrl" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a asp-controller="Products" asp-action="ProductDetails" asp-route-productId="@product.ProductId">@product.ProductName</a>
                                    </h4>
                                    <h5>$@product.Price</h5>
                                    <p class="card-text">@product.Discription</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">InStock</small>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</body>