
<div class="text-center">
    <h1>Админ Меню</h1>
</div>

<hr />
<br />

<ul class="list-group">
    <li class="list-group-item list-group-item-action"><a class="list-group-item list-group-item-action" asp-area="Administration" asp-controller="Categories" asp-action="CategoriesMenu">Меню Категории</a></li>
    <li class="list-group-item list-group-item-action"><a class="list-group-item list-group-item-action" asp-area="Administration" asp-controller="Products" asp-action="ProductsMenu">Меню Продукти</a></li>
</ul>