@model HealthyEnvironment.ViewModels.Informations.InformationCategoriesViewModel
@{
    ViewData["Title"] = "InformationHome";
}

<h2>Information</h2>

<div class="text-center">
    <a asp-controller="Information" asp-action="Create">Add new Information</a>
</div>

<div class="text-center">
    <h3>Categories with information</h3>
</div>

<div class="row align-center mar-bot45">

    @foreach (var category in @Model.informationCategories)
    {
        <div class="col-md-4" onclick="location.href='/Information/InformationInCategory?categoryId=@category.CategoryId'">
            <div class="wow bounceIn" data-animation-delay="4.8s">
                <div class="team-member">
                    <div class="profile-picture">
                        <figure><img src="@category.ImageUrl" alt=""></figure>
                    </div>
                    <div class="team-detail">
                        <h4>@category.CategoryName</h4>
                        <span>Information post:@category.InformationCount</span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>





