@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="lead">
        <p><a asp-area="Identity" asp-page="/Account/Register">Register</a> then create tasks and our system will make sure you don't forget about them</p>

    </div>

</div>
