
@{
    ViewData["Title"] = "UserWithNoTasks";
}

    <h1 class="text-center">Tasks</h1>

<div class="text-center">
    <p>You have no active task.</p>
    <a asp-controller="Tasks" asp-action="CreateTask" class="btn btn-success">Create Task</a>
</div>

