<main>
    <h1 class="text-center text-body">Register</h1>
    <hr class="bg-success w-50" style="height:2px" />

    <form class="w-50 mx-auto" action="/Users/Register" method="post">
        <div class="md-form">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username...">
        </div>
        <div class="md-form">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password...">
        </div>
        <div class="md-form">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password...">
        </div>
        <div class="md-form">
            <label for="birthdate">Birth Date</label>
            <input type="date" id="birthdate" name="birthdate" class="form-control">
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button class="btn bg-success text-white">Register</button>
        </div>
    </form>
</main>