@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="vertical-align: central;">
    <table class="board">
        <tbody class="board-rows">
            <tr class="board-rows">
                <td class="cell-style">x</td>
                <td class="cell-style">x</td>
                <td class="cell-style">x</td>
            </tr>
            <tr class="board-rows">
                <td class="cell-style">x</td>
                <td class="cell-style">x</td>
                <td class="cell-style">x</td>
            </tr>
            <tr class="board-rows">
                <td class="cell-style">x</td>
                <td class="cell-style">x</td>
                <td class="cell-style">x</td>
            </tr>   
        </tbody>
    </table>
</div>
