<div class="threePartialView">
    <table style="width:30%;display:inline-block" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Дневна</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ъглов диван</td>
            </tr>
            <tr>
                <td>Канапета</td>
            </tr>
            <tr>
                <td>Фотьойли</td>
            </tr>
        </tbody>
    </table>
    <table style="width:30%;display:inline-block" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Антре</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Колекции антре</td>
            </tr>
            <tr>
                <td>Потртманто</td>
            </tr>
            <tr>
                <td>Шкафове за обувки</td>
            </tr>
            <tr>
                <td>Закачалки и огледала</td>
            </tr>
        </tbody>
    </table>

    <table style="width:30%;display:inline-block" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Спалня</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Спални комплекти</td>
            </tr>
            <tr>
                <td>Спални комплекти с матрак</td>
            </tr>
            <tr>
                <td>Спални</td>

            </tr>
            <tr>
                <td>Тапицерийни спални</td>
            </tr>
            <tr>
                <td>Скринове</td>
            </tr>
            <tr>
                <td>Гардероби</td>
            </tr>
            <tr>
                <td>Надстройка</td>
            </tr>
        </tbody>
    </table>
    <table style="width:30%;display:inline-block" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Дневна</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ъглов диван</td>
            </tr>
            <tr>
                <td>Канапета</td>
            </tr>
            <tr>
                <td>Фотьойли</td>
            </tr>
        </tbody>
    </table>

    <table style="width:30%;display:inline-block" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Дневна</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ъглов диван</td>
            </tr>
            <tr>
                <td>Канапета</td>
            </tr>
            <tr>
                <td>Фотьойли</td>
            </tr>
        </tbody>
    </table>

    <table style="width:30%;display:inline-block" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Дневна</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ъглов диван</td>
            </tr>
            <tr>
                <td>Канапета</td>
            </tr>
            <tr>
                <td>Фотьойли</td>
            </tr>
        </tbody>
    </table>




</div>
