.mot-info {
    border-style: groove;
    border-color: lightgray;
    border-radius: 7px;
    width: 40%;
    height: auto;
    position: relative;
    left: 0;
    float: left;
    padding: 2%;
    margin-top: 5%;
    vertical-align: middle;
}

.mot-info-image {
    border-radius: 50%;
    width: 30%;
    height: 20%;
    object-fit: contain;
    float: right;
    position: relative;
    right: 10%;
    border-style: groove;
    vertical-align: middle;
}
