<form asp-area="Administration" asp-controller="Image" asp-action="UploadImage" enctype="multipart/form-data" method="post">
    <input type="file" name="file" />
    <button type="submit">Добави</button>
</form>