<div class="text-center">
    <h1>Меню Продукти</h1>
</div>

<ul class="list-group">
    <li class="list-group-item list-group-item-action"><a class="list-group-item list-group-item-action" asp-area="Administration" asp-controller="Products" asp-action="CreateProduct">Добави нов продукт</a></li>
    <li class="list-group-item list-group-item-action"><a class="list-group-item list-group-item-action" asp-area="Administration" asp-controller="Products" asp-action="AllCategories">Редактирай продукт</a></li>
    <li class="list-group-item list-group-item-action"><a class="list-group-item list-group-item-action text-danger" asp-area="Administration" asp-controller="Home" asp-action="Index">Назад</a></li>

</ul>