@model MotMaintOnline4.ViewModels.Motorcycles.DetailsViewModel

<div style="border-style: groove; border-color: lightgray; border-radius: 7px; width: 50%; height:auto; position: relative; left:0; padding: 2%;">
    <h3><span>@Model.Make</span></h3>
    <h4><span>@Model.Model</span></h4>
    <h5><span>@Model.ProductionDate</span></h5>
    <h6><span>@Model.Kilometers</span></h6>
</div>

<!--Create table with maintenances here-->