@model MotMaintOnline4.ViewModels.Motorcycles.DetailsViewModel

    <div style="vertical-align:middle;">
        <div class="mot-info">
            <h3><span>@Model.Make</span></h3>
            <h4><span>@Model.Model</span></h4>
            <h5><span>@Model.ProductionDate</span></h5>
            <h6><span>@Model.Kilometers</span></h6>
        </div>

        <img src="~/images/491-4913791_motorcycle-cartoon-harley-davidson-drawing-clip-art-free.png" alt="Motorcycle image" class="mot-info-image" />
    </div>
    <a style="position:relative;" asp-controller="Maintenance" asp-action="Create">add maintenance</a>
    <!--Create table with maintenances here-->