
@{
    ViewData["Title"] = "ProductsMenu";
}

<h2>ProductsMenu</h2>

<ul class="list-group">
    <li class="list-group-item list-group-item-action" >
    <a class="list-group-item list-group-item-action" href="/Administration/Products/CreateProduct">CreateProduct</a>
    </li>
</ul>

