<div class="text-center">
    <h1>Меню Категории</h1>
</div>

<ul class="list-group">
    <li class="list-group-item list-group-item-action"><a class="list-group-item list-group-item-action" asp-area="Administration" asp-controller="Categories" asp-action="CreateCategory">Добави нова категория</a></li>
    <li class="list-group-item list-group-item-action"><a class="list-group-item list-group-item-action" asp-area="Administration" asp-controller="Categories" asp-action="CreateSubCategory">Добави нова подкатегория</a></li>
    <li class="list-group-item list-group-item-action"><a class="list-group-item list-group-item-action" asp-area="Administration" asp-controller="Categories" asp-action="AllCategories">Редактирай категория</a></li>
    <li class="list-group-item list-group-item-action"><a class="list-group-item list-group-item-action text-danger" asp-area="Administration" asp-controller="Home" asp-action="Index">Назад</a></li>

</ul>