@model IEnumerable<string>
<ul>
    @foreach (var url in Model) 
    {
        <li>url <a asp-controller="Images" asp-action="Original" asp-route-id="@url">Original</a><a asp-controller="Images" asp-action="Fullscreen" asp-route-id="@url">Fullscreen</a><a asp-controller="Images" asp-action="Thumbnail" asp-route-id="@url">Thumbnail</a></li>
    }
</ul>

@foreach (var image in Model) 
{
    <a href="/Images/Fullscreen/@image">
        <img src="/Images/Thumbnail/@image"/>
    </a>
}