<form enctype="multipart/form-data" method="post" asp-controller="Images" asp-action="Upload">
    <input type="file" multiple="multiple" name="images" id="images"/>
    <button type="submit">Submit</button>
</form>