@model HealthyEnvironment.Areas.Administration.ViewModels.Categories.CategoryDetailsViewModel
@{
    ViewData["Title"] = "CategoryDetails";
}

<h2>CategoryDetails</h2>

<div class="text-center">
    <div class="card" style="width: 18rem;">
        <img src=@Model.ImageUrl class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="card-title">@Model.Name</h3>

            <form action="/Administration/Categories/UpdateCategory" method="post">
                <label>Deleted:@Model.IsDeleted</label>
                <label asp-for=@Model.IsDeleted>IsDeleted</label>
                <select asp-for="@Model.IsDeleted" name="IsDeleted">
                    <option value="false">False</option>
                    <option value="true">True</option>
                </select>
                <label>Approved:@Model.IsApproved</label>
                <label asp-for=@Model.IsApproved>IsApproved</label>
                <select asp-for="@Model.IsApproved" name="IsApproved">
                    <option value="false">False</option>
                    <option value="true">True</option>
                </select>
                <input type="hidden" name="categoryId" value=@Model.CategoryId />
                @*<label asp-for="@Model.IsApproved"></label>*@
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>



